/* IMPORT FONTS */

@font-face {
    font-family: title;
    src: url(/font/title.ttf);
}

@font-face {
    font-family: texto;
    src: url(/font/text.ttf);
}


/* CLASS FONTS */

.txt_title0 {
    font-family: title;
}

.txt_text0 {
    font-family: texto;
}


/* CLASS SIZE */

.txtSz-2 {
    font-size: 48pt;
}

.txtSz-1 {
    font-size: 42pt;
}

.txtSz0 {
    font-size: 36pt;
}

.txtSz1 {
    font-size: 24pt;
}

.txtSz2 {
    font-size: 20pt;
}

.txtSz3 {
    font-size: 18pt;
}

.txtSz4 {
    font-size: 14pt;
}

.txtSz5 {
    font-size: 13.5pt;
}

.txtSz6 {
    font-size: 12pt;
}

.txt_mg0 {
    margin: 0px;
}

.txt_mg1 {
    margin: 0.5em;
}

.txt_mg2 {
    margin: 1em;
}

.txtc0 {
    color: white;
}

.txtc1 {
    color: #fdc497;
}