html {
    background: #211816;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-inline: 2em;
}

#icon {
    height: 70%;
    transform: scale(1);
    transition: all 500ms;
}

#icon:hover {
    transform: scale(1.2);
    transition: all 250ms;
}

#btnUpload {
    width: 3em;
    height: 3em;
    border: none;
    border-radius: 2em;
    background-color: #422e29;
}

.divHead {
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.flexAlg_left {
    justify-content: flex-end;
}